<div class="container" fxLayout="column" fxLayoutGap="10px">
  <h1>Add New Word</h1>

  <div class="form-width">
    <form novalidate [formGroup]="newWordForm" (ngSubmit)="onSubmit(newWordForm)">
      <p>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Word" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="image" placeholder="Image Url" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="sentence" placeholder="Sentence Url" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="audio" placeholder="Audio Url" type="text">
        </mat-form-field>
      </p>

      <mat-grid-list cols="2" rowHeight="50px">
        <mat-grid-tile>

          <mat-slide-toggle formControlName="isfree">
            This card is free
          </mat-slide-toggle>

        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Choose a card set" formControlName="cardset">
              <mat-option *ngFor="let option of cardSet" [value]="option.value">
                {{ option.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <button mat-raised-button color="primary">Submit</button>
    </form>
  </div>

</div>

