<mat-toolbar color="primary" class="toolbar">
  <span>{{title}}</span>

  <a mat-raised-button routerLink="/home" color="accent">Home</a>
  <a mat-raised-button routerLink="/words" color="accent">Words</a>
  <a mat-raised-button routerLink="/sets" color="accent">Sets</a>
  <span class="flex-spacer"></span>
  <button mat-raised-button color="accent" (click)="openLoginForm()">login</button>
  <span class="flex-spacer"></span>
  <button mat-raised-button color="accent" (click)="logOut()">logout</button>
</mat-toolbar>
