<div class="container" fxLayout="column" fxLayoutGap="10px">


  <div class="form-width">
    <h1>Add New Word</h1>
    <form novalidate [formGroup]="newWordForm" (ngSubmit)="onSubmit(newWordForm)">
      <p fxLayout="column">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Word" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="image" placeholder="Image Url" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="sentence" placeholder="Sentence Url" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="audio" placeholder="Audio Url" type="text">
        </mat-form-field>
        <mat-slide-toggle formControlName="isfree">
          This card is free
        </mat-slide-toggle>
        <mat-form-field>
          <mat-select placeholder="Choose a card set" formControlName="cardset">
            <mat-option *ngFor="let option of cardSet" [value]="option.value">
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <button mat-raised-button color="primary">Submit</button>
    </form>
  </div>

</div>

