<div class="page-width" fxLayout="column" fxLayoutGap="10px">
  <mat-list fxLayoutWrap fxLayout="row"  *ngIf="users">
    <mat-list-item *ngFor="let user of users" [routerLink]="['/admin/users/edit', user._id]"
                   fxFlex.lg="25" fxFlex.md="33"
                   fxFlex.sm="50" fxFlex.xs="100">
      <img matListAvatar *ngIf="user.avatar" src="{{AvatarURL + user.avatar}}" alt="{{user.displayName}}">
      <img matListAvatar *ngIf="!user.avatar" src="{{AvatarURL + 'generic.jpg'}}" alt="{{user.displayName}}">
      <p matLine><b>{{user.username}}</b></p>
      <p matLine>display name: {{user.displayName}}</p>
    </mat-list-item>
  </mat-list>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button class="newcard" mat-raised-button
            [routerLink]="['/admin/users/new']">Add New User</button>
  </div>
  <div [hidden]="users">
    <mat-progress-spinner></mat-progress-spinner>
    <h4>Loading - Please wait...</h4>
  </div>

</div>
