<div class="page-width" fxLayout="column" fxLayoutGap="10px">
  <h1 *ngIf="learningPath">Edit the {{learningPath.pathName}} Learning Path</h1>
  <div fxLayout="row" fxLayoutGap="20px">
  <ng-container *ngIf="learningPath">
    <div class="column" fxFlex fxFlex.lg="25" fxFlex.md="33"
         fxFlex.sm="50" fxFlex.xs="100">

      <h2>{{learningPath.pathName}}</h2>
      <div class="drag wrapper">
        <div class="learning-steps container" [dragula]='"step-bag"' [dragulaModel]='learningPath.learningSteps'>
          <div class="learning-step" *ngFor="let step of learningPath.learningSteps">
            <p><span class="handle">+</span> {{step.stepName}}</p>
            <div class="wrapper">
              <p class="wordlist container"[dragula]='"word-bag"' attr.data-stepId="{{step._id}}">
                <span class="step-words" *ngFor="let word of step.words"
                      attr.data-wordId="{{word.wordId}}"
                      attr.data-stepWordId="{{word._id}}"
                      attr.data-origStepId="{{step._id}}">{{word.wordName}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="onSave()">Save Changes</button>
    </div>
  </ng-container>
  <div [hidden]="learningPath">
    <mat-progress-spinner></mat-progress-spinner>
    <h4>Loading - Please wait...</h4>
  </div>
  </div>
</div>
