<div class="page-width" fxLayout="column" fxLayoutGap="10px">
  <h1 *ngIf="learningPath">Edit the {{learningPath.pathName}} Learning Path</h1>
  <div fxLayout="row" fxLayoutGap="20px">
  <ng-container *ngIf="learningPath">
    <div class="column" fxFlex fxFlex.lg="25" fxFlex.md="33"
         fxFlex.sm="50" fxFlex.xs="100">

      <h2>{{learningPath.pathName}}</h2>
      <div class="drag wrapper">
        <div class="learning-steps container" [dragula]='"first-bag"'[dragulaModel]='learningPath.learningSteps'>
          <div class="learning-step" *ngFor="let step of learningPath.learningSteps" attr.data-original-order="{{step.stepName}}">
            <p>{{step.stepName}}</p>
            <p class="wordlist"><span class="step-words" *ngFor="let word of step.words">{{word.wordName}}</span></p>
          </div>
        </div>
      </div>
      <button mat-raised-button color="primary">Save Changes</button>
    </div>

    <div class="column" fxFlex.lg="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
      <div class="flex-spacer"></div>
    </div>

    <div class="column" fxFlex.lg="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
      <div class="flex-spacer"></div>
    </div>

    <div class="column" fxFlex.lg="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
      <div class="flex-spacer"></div>
    </div>
  </ng-container>
  <div [hidden]="learningPath">
    <mat-progress-spinner></mat-progress-spinner>
    <h4>Loading - Please wait...</h4>
  </div>
  </div>
</div>
