.drag{
  background-color:#efefef;
  padding:10px;

  span.step-words{
    padding-left:10px;
  }

  .learning-step {
    height: auto;
    margin-bottom: 12px;
    border:1px solid gray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:10px;
    max-width: 300px;
    background-color:rgba(000, 000, 000, 0.25);
  }

  .wordlist{margin:0;}

}
