.mat-list.learning-steps{
  span.step-words{
    padding-left:10px;
  }

  .mat-list-item.mat-2-line {
    height: auto;
    margin-bottom: 12px;
    border:1px solid gray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:10px;
    max-width: 300px;
  }

}
