.main-container {
  position: absolute;
  width:100%;
  max-width:100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
mat-toolbar.fixed {
  position: fixed;
}
mat-toolbar.fixed + * {
  padding-top: 64px;
}

.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
mat-toolbar h1{margin-top:4px;}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  max-width:100%;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.sidenav{
  width:300px;
  background-repeat:no-repeat;
  background-image:
    /* 1) White gradient              */ linear-gradient(to right, RGB(255, 255, 255), RGB(255, 255, 255)),
    /* 2) Turquoise gradient */ linear-gradient(to right, RGB(0, 151, 167), RGB(0, 151, 167));

  background-position:
    /* 1) White position     */ 0 0,
    /* 2) Turquoise position        */ 0 200px;

  background-size:
    /* 1) White size         */ 100% 200px,
    /* 2) Turquoise size            */ 100% 1200px;

}

.account-menu{
  text-align:right;
}
.content-wrapper{
  margin:0 auto;
  box-sizing: border-box;
  max-width:100%;
}
.big-desktop.content-wrapper,
.desktop .content-wrapper{
  width:1440px;
}
.tablet.content-wrapper{
  padding:0 24px 24px 24px;
}
.big-phone.content-wrapper{
  padding:0 16px 16px 16px;
}
.phone.content-wrapper{
  padding:0 8px 8px 8px;
}
