<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
    <div fxFlex="50" fxFlex.xs="100" class="user-form-wrapper">
      <div class="form-width">
        <h1>Edit User</h1>
        <div *ngIf="user" ngClass.xs="fxClass-xs">
          <form novalidate [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
            <p fxLayout="column">
              <mat-form-field>
                <input matInput formControlName="username" placeholder="Username" type="text">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="email" placeholder="Email" type="email" email>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="password" placeholder="Password" type="password">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="displayName" placeholder="Display Name" type="text">
              </mat-form-field>

              <label>Choose an Avatar: </label>
              <mat-radio-group class="radio-group" formControlName="avatar">
                <mat-radio-button *ngFor="let avatar of avatars" value="{{avatar.value}}">
                  <img src="{{ AvatarURL + avatar.image}}" height="64px" width="64px">
                </mat-radio-button>
              </mat-radio-group>

              <mat-form-field>
                <mat-select placeholder="Sets purchased" formControlName="setsPurchased">
                  <mat-option *ngFor="let option of options" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-slide-toggle formControlName="isTutor">
                This user is a tutor
              </mat-slide-toggle>
              <mat-slide-toggle formControlName="isAdmin">
                This user is an admin
              </mat-slide-toggle>
              <mat-form-field>
                <input matInput formControlName="parentId" placeholder="Parent Id" type="text">
              </mat-form-field>
            </p>
            <button mat-raised-button color="primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div fxFlex="50" fxFlex.xs="100" class="user-card-wrapper" ngClass.xs="">
    <app-usercard  [user]="this.user" [edit]="false"></app-usercard>
    </div>
  </div>
</div>
