<mat-toolbar mat-dialog-title color="primary">
  <div class="container" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <div fxFlex="50%">
      <h2 mat-dialog-title="">Register</h2>
    </div>
    <div fxFlex="50%" fxLayoutAlign="end">
      <button mat-mini-fab [mat-dialog-close]="true">&times;</button>
    </div>
  </div>
</mat-toolbar>

<form novalidate [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>

    <mat-form-field>
      <input matInput formControlName="username" placeholder="Username" type="text">
      <mat-error [hidden]="!(formErrors.username)">{{formErrors.username}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email" type="email" email>
      <mat-error [hidden]="!(formErrors.email)">{{formErrors.email}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="confirmEmail" placeholder="Confirm Email" type="email" email>
      <mat-error [hidden]="!(formErrors.confirmEmail)">{{formErrors.confirmEmail}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="password" placeholder="Password" type="password">
      <mat-error [hidden]="!(formErrors.password)">{{formErrors.password}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="confirmPassword" placeholder="Confirm Password" type="password">
      <mat-error [hidden]="!(formErrors.confirmPassword)">{{formErrors.confirmPassword}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="displayName" placeholder="Display Name" type="text">
      <mat-error [hidden]="!(formErrors.displayName)">{{formErrors.displayName}}</mat-error>
      <input matInput formControlName="avatar" hidden="hidden" type="text">
      <input matInput formControlName="isTutor" hidden="hidden" type="text">
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!registerForm.valid">Register</button>
  </mat-dialog-actions>
</form>
