/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

img{max-width:100%; height:auto;}

.flex-spacer {
  flex: 1 1 auto;
}

.mat-dialog-container .mat-form-field{
  display: block;
}

button.newcard{width:250px;};

.form-width{
  width:300px;
  max-width:100%;
  box-sizing:border-box;
  margin:0 auto;
}
.single-card-container{
  width:400px;
  max-width:100%;
  margin:0 auto;
}
