/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

img{
  max-width:100%;
  height:auto;
}

.page-width{
  width:1140px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

.flex-spacer {
  flex: 1 1 auto;
}

.mat-dialog-container .mat-form-field{
  display: block;
}

button.newcard{width:250px;};

.form-width{
  width:300px;
  max-width:100%;
  box-sizing:border-box;
  margin:0 auto;
}

.mat-list .mat-list-item .mat-list-avatar{border:solid 1px #bbb}

.phone .user-form-wrapper{padding-bottom:200px;}


.single-user-container{
  width:400px;
  max-width:100%;
  margin:0 auto;
}

.single-user-container{
  text-align:center;
}
.single-user-container .mat-card{
  padding:0;
}

.single-user-container .user-card-content{
  padding:65px 24px 24px 24px;
  background-color: #0097A7;
  color:#fff;
}

.single-user-container img{
  position: absolute;
  top: -150px;
  left: 25%;
  border-radius: 90%;
  border: 1px solid #0097A7;
  box-shadow: 4px 4px 4px rgba(0,0,0, .45);
}

.sidenav-wrapper .single-user-container{
  margin-top:170px;
}

.sidenav-wrapper .single-user-container img{
  left:15%;
}

//Detail page styles
.detail-page,
.student-edit{
  .user-card-wrapper{margin-top:170px;}
  .mat-card>.mat-card-actions:last-child{padding: 0 0 12px 0;}
}

