<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div class="form-width">

    <h1>Add new User</h1>
    <form novalidate [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
      <p fxLayout="column">
        <mat-form-field>
          <input matInput formControlName="username" placeholder="Username" type="text">
          <mat-error [hidden]="!(formErrors.username)">{{formErrors.username}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email" type="email" email>
          <mat-error [hidden]="!(formErrors.email)">{{formErrors.email}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password" placeholder="Password" type="password">
          <mat-error [hidden]="!(formErrors.password)">{{formErrors.password}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="confirmPassword" placeholder="Confirm Password" type="password">
          <mat-error [hidden]="!(formErrors.confirmPassword)">{{formErrors.confirmPassword}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="displayName" placeholder="Display Name" type="text">
          <mat-error [hidden]="!(formErrors.displayName)">{{formErrors.displayName}}</mat-error>
        </mat-form-field>

        <label>Choose an Avatar: </label>
        <mat-radio-group class="radio-group" formControlName="avatar">
          <mat-radio-button *ngFor="let avatar of avatars" value="{{avatar.value}}">
            <img src="{{ AvatarURL + avatar.image}}" height="64px" width="64px">
          </mat-radio-button>
        </mat-radio-group>

        <mat-form-field>
          <mat-select placeholder="Sets purchased" formControlName="setsPurchased">
            <mat-option *ngFor="let option of options" [value]="option.value">
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle formControlName="isTutor">
          This user is a tutor
        </mat-slide-toggle>
        <mat-slide-toggle formControlName="isAdmin">
          This user is an admin
        </mat-slide-toggle>
      </p>
      <button mat-raised-button color="primary"[disabled]="!newUserForm.valid">Submit</button>
    </form>
  </div>
</div>
